<!DOCTYPE html> 
<html> 
<head>
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<script src="/assets/js/vue.resource.1.5.1.js"></script>
	<script src="/assets/js/vue.2.5.17.js"></script>
</head>
<body> 

	<h1>Welcome Page</h1>

	<p>
		This small project use Slim Framework version 3<br>
		<a href="https://www.slimframework.com/docs/v3/start/installation.html" target="_blank">https://www.slimframework.com/docs/v3/start/installation.html</a>
	</p>

	<b>Global information</b><br>
	<ul>
		<li>User interface sould be responsive</li>
		<li>All front-end library are allowed</li>
		<li>All user's password are 123456</li>
		<li>Hash with php password_hash()</li>
  	</ul>

  	<b>Users</b>

  	<p class="ps">
  		- Highlight the current user logged in (use twig dump() to get the templates variables).<br>
  		- Here we would like to see a list of user on tree column and responsive.<br>
  		- Exemple: <a href="https://getbootstrap.com/docs/4.2/examples/album/" target="_blank">https://getbootstrap.com/docs/4.2/examples/album/</a>
  	</p>

  	<ul>
		{% for user in users %}
	        <li>
	        	<b>{{ user.getFirstname() }} {{ user.getLastname() }} / username: {{ user.getUsername() }}</b><br>
	        	<small>{{ user.getDescription() }}</small>
	       	</li>
	    {% endfor %}
  	</ul>

  	{% if user == null %}
	    <a href="/login">Login</a>
	{% else %}
		<a href="/dashboard">Dashboard</a>
	  	<a href="/logout">Logout</a>
	{% endif %}
	  		
</body> 
</html> 
